{% extends "::base.html.twig" %}

{% block title %}AppBundle:Depot:create{% endblock %}

{% block body %}
    <div class="container"> 
        <h1>Welcome to the Depot:create page</h1>

        <div class="container">



            <div class="col-md-6">
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form_start(form, {'attr': {'class': 'my-form-class'} }) }}
                {{ form_row(form._token) }}

                <div class="form-group">

                    {{ form_row(form.menage, {'attr': {'class': 'form-control'}})}}
                    {{ form_label(form.contenu)}}
                    {% for contenu in form.contenu%}

                        {{ form_widget(contenu.dechet, {'attr': {'class': 'form-control'}})}}
                        {{ form_widget(contenu.quantite, {'attr': {'class': 'form-control'}})}}
                        {{ form_errors(contenu.dechet) }}

                    {% endfor %}
                </div>
                <input type="submit" value="Enregistrer" class="btn btn-success pull-right" />
                {{ form_end(form,{'render_rest': false}) }}
            </div>


        </div>
    </div>
{% endblock %}
